@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body style="background-image: url('https://s3.us-west-1.wasabisys.com/ft-backgrounds/mreflow-Matt_Wolfe_colorful_soundwaves_1f318335-dbb5-44f4-8b01-196119bcf342.jpeg'); background-size:cover">
<form asp method="post" asp-action="Result">
    <p style="color: white">Please enter your username.</p>
    <input type="text" name="UserName" />

    <p style="color: white">Please enter your first name.</p>
    <input type="text" name="FirstName" />

    <p style="color: white">Please enter your last name.</p>
    <input type="text" name="LastName" />

    <p style="color: white">Please enter your email.</p>
    <input type="text" name="Email" />
    

    <p style="color: white">Please enter a password.Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</p>
    <input type="password" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />

    <input type ="submit" />




</form>
</body>
















