@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url('https://s3.us-west-1.wasabisys.com/ft-backgrounds/mreflow-Matt_Wolfe_dreamlike_undersea_world_corral_reef_colorful_rgb____ef12fa97-16cd-4b7d-80a4-bb1ba64abcb5.jpeg'); background-size:cover">


<div class ="text-center">

        <h1 style="color: white" class="display-4">Welcome To Caribou Coffee! The last one in existent!</h1>


        <p style="color: white">Please Register if you haven't already! <a href="@Url.Action("Form")">Register Here</a></p>

        <p style="color: white">Username.</p>
    <input type="text" name="UserName" />

        <p style="color: white">Password.</p>
    <input type="Password" name="Password" />
    <p></p>
        <input type="submit" />
</div>

</body>