@{
    ViewData["Title"] = "Privacy Policy";
}
<body style="background-image: url('https://s3.us-west-1.wasabisys.com/ft-backgrounds/mreflow-Matt_Wolfe_dreamlike_undersea_world_corral_reef_colorful_rgb____ef12fa97-16cd-4b7d-80a4-bb1ba64abcb5.jpeg'); background-size:cover">
    <h1 style="color: white">@ViewData["Title"]</h1>

<p style="color: white">We sell your data, but dont worry! It's making us rich!</p>
</body>